<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    welcome
  </title>
</head>

<body>
  <h1>
    things to do today:
  </h1>
  <ul>
    <% todos.forEach(e=>{ %>
    <li>
      <%= e %>
    </li>
    <% }); %>
  </ul>
</body>

</html>