@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

body,html {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

.mainview{
  width: 100%;
}

.mainview header{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 20;
}

.mainview header > a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: #D13C3C;
  cursor: pointer;
}

.mainview header > a img{
  width:60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 1s;
}

.mainview header > a:hover > img{
  transform: rotate(720deg);
}

.mainview header nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100%;
  width: 70%;
}

.navmenu{
  height: 100%;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 34px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.navmenu:not(.searchbox)::after{
  position: absolute;
  content: "";
  top: 80%;
  left: calc(25%);
  width: 50%;
  height: 3px;
  background-color: #D13C3C;
  transition: transform 0.6s;
  transform: scaleX(0);
}

.navmenu:not(.searchbox):hover::after{
  transform: scaleX(1);
}

.navmenu:nth-child(7){
  position: relative;
  cursor: auto;
}

.navmenu:nth-child(7) i{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color:#D13C3C;
  font-size: 20px;
  right:10px;
  transition: 0.7s;
  cursor: pointer;
}

.searchinput{
  height: 40px;
  width: 360px;
  padding:3px 10px;
  padding-right: 40px;
  font-size: 20px;
  outline: none;
  border-radius: 25px;
  border: 3px solid #D13C3C;
  color:#D13C3C;
  font-weight: bold;
  transition: 1s;
}

::placeholder{
  color:#D13C3C;
  font-weight: bold;
  font-weight: normal;
  transition: 1s;
}

.mainview main{
  width: 100%;
  min-height:calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
}

.searchinput:focus{
  color:white;
  background-color: #D13C3C;
}

.searchinput:focus::placeholder{
  color:white;
}

.searchinput:focus + i{
  color:white;
}

.dropdown{
  position: absolute;
  width:250px;
  z-index:25;
  top:100%;
  height:0;
  overflow: hidden;
  transition: 0.4s linear;
  border-radius: 20px;
  border: 3px solid #D13C3C;
  background-color: #fff;
  opacity: 0;
  font-family: 'ZCOOL KuaiLe', cursive;
  padding:15px;
}

.dropdown ul{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown ul li{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 60px;
  color:#D13C3C;
  font-size: 24px;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  border-radius: 40px;
}

.dropdown ul li:hover{
  background-color: rgba(209, 60, 60, 0.5);
  color:white;
}

.accountmenu{
  left:43%;
}

.cartmenu{
  left:61.3%;
}

.activedropdown{
  height: 200px;
  opacity: 1;
  transition: 0.4s;
}

.errordiv{
  margin-bottom: 80px;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: bold;
  color: #D13C3C;
  font-size: 26px;
}