@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

.basemodal{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modalcontainer{
  width:740px;
  height:740px;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.modalheader{
  width: 100%;
  height:70px;
  display: flex;
  z-index: 50;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.modaltitle{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  transition: 0.6s;
  color: white;
  background-color: #D13C3C;
  cursor: pointer;
}

.activetitle{
  background-color: white;
  color: #D13C3C;
}

.formcontainer{
  position: relative;
  height:670px;
  width:100%;
  overflow:hidden;
}

.formcontainer form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.6s;
}

.regform h3{
  color: #D13C3C;
  font-weight: bold;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 28px;
  transition: 0.7s;
}

.reginput, .loginput {
  width:50%;
  height:44px;
  outline:none;
  padding:4px 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border:3px solid rgb(153, 153, 153);
  border-radius: 20px;
  color: #D13C3C;
  font-weight: bold;
  transition: 0.5s;
}
.reginput:focus, .loginput:focus {
  width:55%;
}

form.loginform label, form.regform label{
  font-size: 22px;
  font-weight: bold;
  color: #D13C3C;
  margin-bottom: 20px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.checkboxcont{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.checkboxcont label {
  cursor: pointer;
}

.formbtn{
  position:relative;
  outline: none;
  border:none;
  background-color: transparent;
  width:40%;
  height:60px;
  color:#D13C3C;
  font-size:38px;
  text-align: center;
  cursor:pointer;
  transition: 0.6s;
  font-weight: bold;
  margin-top: 50px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.formbtn:hover{
  box-shadow:0 22px 20px -5px rgba(209, 60, 60, 0.4);
}

.formbtn::before{
  position: absolute;
  content:"";
  top:-3px;
  left:-3px;
  border:3px solid transparent;
  width:0;
  height:0;
  background: transparent;
}
.formbtn:hover::before{
  animation: anime 0.6s linear forwards;
}
.formbtn::after{
  position: absolute;
  content:"";
  top:-3px;
  left:-3px;
  border:3px solid transparent;
  width:0;
  height:0;
  background: transparent;
}
.formbtn:hover::after{
  animation: animex 0.6s linear forwards;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width:18px;
  height:18px;
  margin-right:30px;
  outline:none;
  transition: 0.7s;
  cursor: pointer;
}
input[type="checkbox"]::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:3px solid #D13C3C;
  transition: 0.7s;
  border-radius:50%;
}
input:checked[type="checkbox"]::before{
  border-left:none;
  border-top:none;
  border-color: #D13C3C;
  width:50%;
  transform: rotate(45deg) translate(5px,-10px);
  border-radius:0;
}

.notactive{
  transition: 0.6s;
  transform: translateY(-100%);
}

.firstreglabel{
  margin-top: 30px;
}

.show{
  display:flex;
}

.notvalid{
  border: 3px solid #D13C3C;
}

.valid{
  border: 3px solid rgb(15, 189, 67);
}

@keyframes anime{
  0%{
      width:0;
      height:0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }
  50%{
      width:100%;
      height:0;
      border-top-color: #D13C3C;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }
  100%{
      width:100%;
      height:100%;
      border-top-color: #D13C3C;
      border-right-color: #D13C3C;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }
}
@keyframes animex{
  0%{
      width:0;
      height:0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
  }
  10%{
      width:0;
      height:100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: #D13C3C;
      border-bottom-color: transparent;
  }
  100%{
      width:100%;
      height:100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: #D13C3C;
      border-bottom-color: #D13C3C;
  }
}