.navmenu:nth-child(1)::after{
  transform: scale(1);
}

.mainview main{
  position: relative;
  justify-content: flex-end;
  background: url(../images/table.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pickrestaurant{
  padding:0px 10px;
  padding-top: 40px;
  position: fixed;
  top:100px;
  left:0;
  height:calc(100vh - 100px);
  width:15%;
}

.maincontent{
  margin-top: 40px;
  padding:30px 100px;
  width:85%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
}

.restaurantcont{
  width: 100%;
  height:55px;
  font-weight: bold;
  color: #D13C3C;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  border:4px solid transparent;
  background-color: #fff;
  border: 3px solid transparent;
}

.restaurantcont:hover, .activerestaurant{
  border:4px solid rgb(209, 60, 60);
}

.foodcont{
  width:20%;
  height: 350px;
  border:1px solid red;
  border-radius: 20px;
  margin-right: 3%;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 3px solid #D13C3C;
  padding-top:10px;
  font-family: 'ZCOOL KuaiLe', cursive;
  box-shadow: 0px 50px 40px -20px rgba(0, 0, 0, 0.8),
              20px 0px 40px -10px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  background-color: #fff;
}

.foodcont:nth-child(4n){
  margin-right: 0;
}

.foodcont figure{
  width: 90%;
  height: 150px;
}

.foodcont figure img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border:3px solid #D13C3C;
}

.foodinfocont{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: #D13C3C;
}

.foodname{
  height: 65%;
  padding:10px;
  width: 100%;
  overflow: hidden;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricenbutton {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.foodprice{
  font-size: 28px;
}

.buttoncont{
  width: 80px;
  position: relative;
  height: 70%;
  border:3px solid #D13C3C;
  border-radius: 20px;
  cursor: pointer;
}

.carticon{
  position: relative;
  top:50%;
  left:10%;
  transform: translateY(-50%);
  transition: 0.2s linear;
}

.animatecart{
  left:50%;
  transition: 0.2s linear;
}