*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.container{
  width:700px;
  height:350px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  background-color: yellow;
  list-style:none;
}

.item{
  height:80px;
  width:80px;
  background-color: palevioletred;
  margin-right: 5px;
}
