@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  background-color: rgb(153, 153, 153);
  justify-content: center;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar-track {
	background-color:rgb(153, 153, 153);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 12px;
	background-color:rgb(153, 153, 153);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
	background-color:#2d7047;
}

div.mainview{
  width:1400px;
  height:100vh;
}

header{
  width:1400px;
  height:300px;
  position: fixed;
  z-index: 100;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(153, 153, 153);
  border: 1px solid transparent;
}

header > img{
  width:100%;
  height:100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 3px black;
}

div.mainview header a{
  width:130px;
  height:130px;
  position: absolute;  
  top:50%;
  transform: translateY(-50%);
  left:50px;
}

div.mainview header a img{
  width:100%;
  height:100%;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 50%;
}

div.mainview header a img:hover{
  transform: rotate(360deg);
  box-shadow: 0px 0px 15px 5px black;
}

section{
  margin-top: 330px;
  display: flex;
  width:100%;
  position: relative;
}

section aside{
  width:18%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: fixed;
  right:13%;
}

section aside div.submitnewpostbtn{
  background-color: #2d7047;
  color:white;
  font-weight: bold;
  width:100%;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

section aside div.submitnewpostbtn:hover, section.sectionsubmitnew form input[type=submit]:hover{
  background-color: #174227;
}

section aside div.abouttesla{
  height: 260px;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

section aside div.abouttesla p{
  width:100%;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section aside div.abouttesla p:nth-child(1){
  justify-content: flex-start;
  background-color: #FBFBFB;
  font-weight: bold;
  padding-left: 10px;
}

section aside div.abouttesla p:nth-child(1) a{
  outline: none;
  text-decoration: none;
  color:#2d7047;
}

section aside div.abouttesla p:nth-child(2){
  height:40px;
  margin-bottom: 10px;
}

section aside div.abouttesla ul{
  padding-left: 40px;
}

section main{
  position: relative;
  left:2%;
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section main article{
  width:100%;
  margin-bottom: 15px;
  height:200px;  
  display: flex;
  background-color: white;
  border-radius: 20px;
}

section main article div.ratecont{
  width:12%;
  height:100%;
  display: flex;
  flex-direction: column;
  color:rgb(153, 153, 153);
}

section main article div.ratecont p{
  height:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  overflow: hidden;
}

section main article div.ratecont i{
  height:33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

section main article div.ratecont i:hover{
  color:#2d7047;
}

section main article div.postdatacont{
  width:88%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

section main article div.postdatacont p{
  display: flex;
  height:15%;
  width:100%;
}

section main article div.postdatacont p:nth-child(1){
  height:70%;
  overflow: hidden;
  padding:10px;
  font-size: 28px;
}

section main article div.postdatacont p a{
  margin-left: 10px;
  outline:none;
  text-decoration: none;
  color:black;
}

section main article div.postdatacont p:nth-child(3) span{
  cursor: pointer;
}

span.commentsspan, span.userofsubmit{
  color:#2d7047;
  font-weight: bold;
}

span.userofsubmit{
  cursor: pointer;
  margin-left: 4px;
}

strong{
  color:#2d7047;
  margin: 0 3px;
}

.votedarrow{
  color:#2d7047;
}