<div class="modalelem loggedincont"></div>

<form class="regform modalelem" autocomplete="off">
  <label for="" class="modalelem firstreglabel">Fullname</label>
  <input type="text" class="modalelem reginput fullname" name="fullname" autocomplete="off">
  <label for="" class="modalelem">Username</label>
  <input type="text" class="modalelem reginput username" name="username" autocomplete="off">
  <label for="" class="modalelem">E-mail</label>
  <input type="text" class="modalelem reginput email" name="email" autocomplete="off">
  <label for="" class="modalelem">Password</label>
  <input type="password" class="modalelem reginput password" name="password">
  <button type="submit" class="modalelem formbtn regbtn">Register</button>
</form>